/* CSS Document */
body,td,th {
	color: #333333;
	padding:0px;
}
body {
	background-color: #FFFFFF;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	font-size:12px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	background-image: url(images/word_tablebg.jpg);
	background-repeat:repeat-x;
}

a:link { text-decoration:none; color:#333;}
a:visited { text-decoration:none; color:#333;}
a:hover { text-decoration:underline; color:#CC0000;}
a:active { text-decoration:none; color:#333;}

input{margin:0;padding:0;font-size:13px;height: 16px;}
select {border: #7f9db9 1px solid; font-size:12px; font-family:Verdana, Geneva, sans-serif;}
.input { border:#7F9DB9 solid 1px;}
.input120{margin:0;padding:0;width:120px; border:#7F9DB9 solid 1px;}
.input_98{margin:0;padding:0;width:98%; border:#7F9DB9 solid 1px;}
.input_99{margin:0;padding:0;width:99%; border:#7F9DB9 solid 1px;}
.input_login{
	margin:0;
	padding:0;
	width:120px;
	border-right:#7F9DB9 solid 1px;
	border-bottom:#7F9DB9 solid 1px;
	border-top:#4F718E solid 1px;
	border-left:#4F718E solid 1px;
	height:18px;
	vertical-align: middle;
}
select { background-image:url(../images/input_bg.gif); background-repeat:no-repeat; background-position:left top;}
.select {border: #7f9db9 1px solid; font-size:13px; font-family:Verdana, Geneva, sans-serif; height:21px;}
TEXTAREA {
	border: #7f9db9 1px solid; FONT-WEIGHT: normal; COLOR: #000; BACKGROUND-COLOR: #fff; background-image:url(../images/input_bg.gif); background-repeat:no-repeat; background-position:left top;
}

form {
	padding-right: 0px; padding-left: 0px; padding-bottom: 0px; margin: 0px; padding-top: 0px;
}
form {margin:0;padding:0;}

h1 {
	font-size: 16pt;
	line-height: normal;
	text-decoration: none;
	font-family: "Times New Roman", Times, serif;
	color: #CC0000;
}
h2 {
	font-size: 18pt;
	line-height: normal;
	font-weight: bold;
	text-decoration: none;
}
ul{margin:0;padding:0;}
li{margin:0;padding:0;}
li{list-style: none;}
img {border:0;}

.left{ float:left;}
.right{ float:right;}

.width8{width:8px;}

.margin-t10 {margin-top:10px;}/*定义距顶10像素*/
.margin-b10 {margin-bottom:10px;}/*定义距底10像素*/
.margin-l10 {margin-left:10px;}/*定义距左10像素*/
.margin-r10 {margin-right:10px;}/*定义距右10像素*/

.margin10 {margin:10px;}/*定义距上下左中10像素*/
.margin5 {margin:5px;}/*定义距上下左中5像素*/
.margin4{margin:4px;}/*定义距上下左中4像素*/

.margin-tb5 {margin-top:5px;margin-bottom:5px;}/*定义距上下右5像素*/
.margin-tb10 {margin-top:10px;margin-bottom:10px;}/*定义距上下10像素*/
.margin-tb20 {margin-top:20px;margin-bottom:20px;}/*定义距上下20像素*/

.margin_l8{margin-left:8px;}/*定义距左8像素*/
.margin_r8{margin-right:8px;}/*定义距右8像素*/
.margin_t8{margin-top:8px;}/*定义距顶8像素*/
.margin_b8{margin-bottom:8px;}/*定义距底8像素*/

.padding_lr2 { padding-left:2px; padding-right:2px;}/*定义字符距左右边距2像素*/

.width20px {width:20px;}/*定义宽为20像素*/
.width40px {width:40px;}/*定义宽为40像素*/
.width100px {width:100px;}/*定义宽为100像素*/
.width160px {width:160px;}/*定义宽为160像素*/
.width200px {width:200px;}/*定义宽为200像素*/
.width5 {width:5%;}/*定义宽为5% */
.width10 {width:10%;}/*定义宽为10% */
.width20 {width:20%;}/*定义宽为20% */
.width30 {width:30%;}/*定义宽为30% */
.width40 {width:40%;}/*定义宽为40% */
.width50 {width:50%;}/*定义宽为50% */
.width60 {width:60%;}/*定义宽为60% */
.width70 {width:70%;}/*定义宽为70% */
.width80 {width:80%;}/*定义宽为80% */
.width90 {width:90%;}/*定义宽为90% */
.width96 {width:96%;}/*定义宽为96% */
.width98 {width:98%;}/*定义宽为98% */
.width99 {width:99%;}/*定义宽为99% */

.text_l{ text-align:left;}/*文字左对齐*/
.text_r{ text-align:right;}/*文字右对齐*/
.text_c{ text-align:center;}/*文字右对齐*/

.border_r {/*右线条为1像素 颜色为#ccc灰色*/
	border-right:#CCC solid 1px;
}
.border_l {/*左线条为1像素 颜色为#ccc灰色*/
	border-left:#CCC solid 1px;
}
.border_t {/*顶线条为1像素 颜色为#ccc灰色*/
	border-top:#CCC solid 1px;
}
.border_b {/*底线条为1像素 颜色为#ccc灰色*/
	border-bottom:#CCC solid 1px;
}
/*****************************************/
/**************通用部分结束 **************/
/*****************************************/



/*****************************************/
/*************  topFrame   ***************/
/*****************************************/
.header {height:100px;width:100%;}
.header .topline{/*顶部彩色线条*/
	height:4px;
	width:100%;
	background-image:url(../images/top_line.gif);
	background-repeat:no-repeat;
	background-position:right top;
}
.header .logo {/*logo样式*/
	height:56px;
	width:438px;
	background-image:url(../images/logo.gif);
	background-repeat: no-repeat;
	background-position: left top;
}
.header .nav {/*顶部导航背景*/
	height:30px;
	text-align:left;
	line-height:normal;
	color:#333;
	background-image:url(../images/nav_bg.gif);
	background-repeat:repeat-x;
	background-position:left bottom;
}
.header .nav_v {/*顶部导航箭头*/
	height:30px;
	width:30px;
	background-image:url(../images/control_play.gif);
	background-repeat:no-repeat;
	background-position:left top;
}
.header .nav span{ font-weight:bold;}/*用户名加粗*/
.header .bgcolor { background-color:#0153A5; height:10px;}


/*****************************************/
/*************  leftFrame   ***************/
/*****************************************/

.leftmenu { width:210px; background-color:#0153A5; padding-left:10px;}
.leftmenu .left_table{ width:200px; background-color:#E3EFFD;}
.leftmenu .left_table .table_top{
	width:200px;
	height:24px;
	background-color:#E3EFFD;
	background-image: url(../images/left_menu_top.gif);
	background-repeat: no-repeat;
	background-position: left top;
	font-size: 12px;
	line-height: normal;
	font-weight: bold;
}
.leftmenu .left_table .table_top span{
	padding-left:30px;
}
.leftmenu .treetable {width:180px; margin:10px; background-color:#ffffff; border:solid #BBD2F2 1px;}
.leftmenu .bgcolor { background-color:#0153A5; width:10px;}


/*****************************************/
/*************  footFrame   ***************/
/*****************************************/


.foot {height:50px;width:100%; background-color:#0153A5; color:#ffffff;}
.foot td{color:#ffffff;}
.foot .bottom_line { background-image:url(../images/bottom_line.gif); background-repeat:no-repeat; background-position:right top; height:4px;}


/*****************************************/
/*************  mainFrame  ***************/
/*****************************************/

/*欢迎页面*/
.welcome {
	background-image: url(../images/welcome.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	margin-top:4px;
	margin-left:4px;
	wiedth:700px;
	height:500px;
}


/*隐藏帧样式*/
.mid_table{ border-left:solid #CCCCCC 1px; border-right:solid #CCCCCC 1px; height:100%; margin-top:0;margin-bottom:0; width:7px; background-color:#E6F3FC;}




/*列表页导航*/
.list_nav {
	background-image: url(../images/list_head_bg.jpg);
	background-repeat: repeat-x;
	background-position: left top;
	font-size: 12px;
	line-height: normal;
	text-align: right;
	margin-bottom:10px;
}
.list_nav td{
	height: 26px;
}
.list_nav_v {
	background-image: url(../images/list_head_l.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	width:26px;
	height:26px;
}
.list_nav span{
	float: left;
	font-weight: bold;
	line-height: normal;
	margin-top:0px !important ;
	margin-top:2px;
}
/*格子表格样式*/
.list_table {
	border-collapse:collapse;
	margin:0px;
	border-top:#CCC solid 0px;
	border-down:#CCC solid 0px;
	border-left:#CCC solid 1px;
	border-right:#CCC solid 1px;
}
.list_table_O {
	background-color:#0CC;
}
.list_table td {
	empty-cells:show;
	font-size:12px;
	padding-left: 2px;
	height:25px;
	border-right:#CCC solid 1px;
	border-bottom:#CCC solid 1px;
}

.list_table .odd {
	background-color:#F7F7EE;/*#edf5ff*/
}
.list_table tr:hover {
	background-color:#D0E6FF;/*#2983c5*/
	color:#000;
}
.list_table thead tr:hover {
	background: transparent;
	color: #000;
}

.list_table_head {
	background-color:#ECE9D8;
	text-align:center;
	font-weight:bold;
}

/*分页样式*/
.page {
	vertical-align: middle;
	background-color: #FFF;
	background-image: url(../images/list_page_bg.jpg);
	background-repeat: repeat-x;
	background-position: left top;
	line-height: normal;
	border:#CCC solid 1px;
}
.page td{
	height:16px;
	padding:0;
	font-size: 12px;
}
.page_ico{
	border-top:#CCC solid 1px;
	border-left:#CCC solid 1px;
	margin:2px;
	background-color:#FFFFFF;
}
.page_ico td{
	padding:1px;
	height:10px;
	border-right:#CCC solid 1px;
	border-bottom:#CCC solid 1px;
}
.page_tongji{
	margin:2px;
	height:16px;
}
.page_tongji td{
	padding-left:2px;
	padding-right:2px;
	height:16px;
	vertical-align:middle;
	font-size: 12px;
}
.page_tongji td a {
	color:#008000;
}
/*****************************************/
/*************  登录页     ***************/
/*****************************************/
.login_allbg {
	background-image: url(../images/login/login_allbg.jpg);
	background-repeat: repeat-x;
	background-position: left top;
	height: 340px;
	font-size:12px;
	color:#333333;
	margin-top:150px;
}
.login_allbg td{
	font-size: 12px;
}
.login_box {width:708px;height:340px;}
.login_logo {
	width:466px;
	height:96px;
	background-image: url(../images/login/login_logo.jpg);
	background-repeat: no-repeat;
	background-position: center top;
}
.login_title {
	width:466px;
	height:96px;
	background-image: url(../images/login/login_title.jpg);
	background-repeat: no-repeat;
	background-position: center top;
}
.login_coyright {
	height:58px;
	text-align: center;
	padding-top:30px;

}
.login_leftbg {
	width:124px;
	height:91px;
	background-image: url(../images/login/login_leftbg.jpg);
	background-repeat: no-repeat;
	background-position: left bottom;
}
.login_centerbg {
    width:224px;
	height:91px;
	background-image: url(../images/login/login_centerbg.jpg);
	background-repeat: repeat-x;
	background-position: left bottom;
	text-align:center;
}
.login_rightbg {
	width:118px;
	height:91px;
	background-image: url(../images/login/login_rightbg.jpg);
	background-repeat: no-repeat;
	background-position: right bottom;
}
.login_table {
	margin-top:36px;
}



/*居中的TD*/
.centerTD{
	text-align: center;
}

.linkA{
	text-decoration: underline;
}

/*****************************************/
/**************搜索条件TABLE**************/
/*****************************************/
.table_search {
	border-left:solid #999 1px;
	border-top:solid #999 1px;
	font-size:12px;
	margin-top:8px;
	margin-bottom:8px;
}
.table_search td {
	height:24px;
	padding:2px;
	border-right:solid #999 1px;
	border-bottom:solid #999 1px;
}
.table_search_title {
	height:24px;
	padding:2px;
	border-left:solid #fff 1px;
	border-top:solid #fff 1px;
	text-align:right;
	background-color:#ECE9D8;
}
.table_search_content {
	height:24px;
	text-align:left;
}

.tab_name{ background:url(../img/tab_name.png) no-repeat left top; width:174px; height:26px; line-height:26px; text-align:center}
