<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="dnd" name="DragAndDrop" schema="schema/dnd.exsd"/>
   <extension
         point="org.eclipse.ui.editors">
      <editor
      		id = "net.java.amateras.uml.classdiagram.ClassDiagramEditor"
            class="net.java.amateras.uml.classdiagram.ClassDiagramEditor"
            default="true"
            contributorClass="net.java.amateras.uml.UMLActionBarContributor"
            extensions="cld"
            icon="icons/class_diagram.gif"
            name="%plugin.class.editor"/>
      <editor
            class="net.java.amateras.uml.sequencediagram.SequenceDiagramEditor"
            contributorClass="net.java.amateras.uml.UMLActionBarContributor"
            default="true"
            extensions="sqd"
            icon="icons/sequence_diagram.gif"
            id="net.java.amateras.uml.sequencediagram.SequenceDiagramEditor"
            name="%plugin.sequence.editor"/>
      <editor
            class="net.java.amateras.uml.usecasediagram.UsecaseDiagramEditor"
            contributorClass="net.java.amateras.uml.UMLActionBarContributor"
            default="false"
            extensions="ucd"
            icon="icons/usecase.gif"
            id="net.java.amateras.uml.usecasediagram.UsecaseDiagramEditor"
            name="%plugin.usecase.editor"/>
      <editor
            class="net.java.amateras.uml.activitydiagram.ActivityDiagramEditor"
            contributorClass="net.java.amateras.uml.UMLActionBarContributor"
            default="false"
            extensions="acd"
            icon="icons/activity_diagram.gif"
            id="net.java.amateras.uml.activitydiagram.ActivityDiagramEditor"
            name="%plugin.activity.editor"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="net.java.amateras.uml.UMLPreferencePage"
            id="net.java.amateras.uml.UMLPreferencePage"
            name="AmaterasUML"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="net.java.amateras.uml.UMLPreferenceInitializer"/>
   </extension>
</plugin>
