<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="dialects" name="dialects" schema="schema/dialects.exsd"/>
   <extension-point id="generators" name="generators" schema="schema/generators.exsd"/>
   <extension-point id="validate" name="validate" schema="schema/validate.exsd"/>
   <extension point="org.eclipse.ui.editors">
      <editor
            class="com.tansun.data.db.visual.editor.VisualDBEditor"
            contributorClass="com.tansun.data.db.visual.editor.VisualDBEditorContributor"
            default="true"
            extensions="erd"
            icon="icons/table.gif"
            id="com.tansun.data.designer.editor1"
            name="%plugin.erd.editor"/>
   </extension>
   <extension
         point="avicit.data.designer.dialects">
      <dialect
            class="com.tansun.data.db.dialect.HsqldbDialect"
            name="hsqldb"/>
      <dialect
            class="com.tansun.data.db.dialect.H2Dialect"
            name="H2"/>
	  <dialect
            class="com.tansun.data.db.dialect.DerbyDialect"
            name="Derby"/>
	  <dialect
	        class="com.tansun.data.db.dialect.MySQLDialect"
	        name="MySQL"/>
	  <dialect
	        class="com.tansun.data.db.dialect.PostgreSQLDialect"
	        name="PostgreSQL"/>
	  <dialect
	        class="com.tansun.data.db.dialect.OracleDialect"
	        name="Oracle"/>
	 <dialect
	        class="com.tansun.data.db.dialect.MSSQLDialect"
	        name="MSSQL"/>
	 <dialect
	        class="com.tansun.data.db.dialect.SybaseDialect"
	        name="Sybase"/>
	<dialect
	        class="com.tansun.data.db.dialect.DB2Dialect"
	        name="DB2">
  </dialect>
   </extension>
   <extension
         point="avicit.data.designer.generators">
      <generator
            class="com.tansun.data.db.visual.generate.DDLGenerater">
      </generator>
      <!--
      <generator
            class="com.tansun.data.db.visual.generate.DFGenerater">
      </generator>
      -->
      <generator
            class="com.tansun.data.db.visual.generate.HTMLGenerator">
      </generator>
      <generator
            class="com.tansun.data.db.visual.generate.ExcelGenerator">
      </generator>
      <generator
            class="com.tansun.data.db.visual.generate.ImageGenerator">
      </generator>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.tansun.data.db.preference.ERDPreferencePage"
            name="AmaterasERD"
            id="com.tansun.data.db.preference.ERDPreferencePage"/>
      <page
            class="com.tansun.data.db.preference.ValidationPreferencePage"
            name="%plugin.erd.preference.validation"
            id="com.tansun.data.db.preference.ValidationPreferencePage"
            category="com.tansun.data.db.preference.ERDPreferencePage"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.tansun.data.db.preference.DBPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="avicit.data.designer.validate">
      <validator
            class="com.tansun.data.db.validator.MyValidator"
            id="com.tansun.data.designer.validator1">
      </validator>
   </extension>
</plugin>
